<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modmail Log</title>
    <link rel="stylesheet" href="style.css">
    <script>
        function internalToggle() {
            document.querySelectorAll('.internal').forEach(msg => msg.classList.toggle('hidden'))
        }
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('#internal-toggle').addEventListener('change', internalToggle)
        })
    </script>
</head>
<body>
    <div class="log">
        <div class="header">
            <img class="user-image" src="{{ user.avatar.url }}" alt="{{ user.name }}">
            <span class="user-info">
                <div>{{ user.name }}</div>
                <div>{{ messages | count }} Messages</div>
            </span>
            <div class="internal-toggle">
                <input type="checkbox" class="fancy-check" name="internal-toggle" id="internal-toggle">
                <label for="internal-toggle"></label>
            </div>
        </div>
{% for message in messages %}
    {% if not message.content == '@here' %}
    {% if message.author.id == bot_id %}
        {% if message.embeds %}
        {% for emby in message.embeds %}
        <div class="message embed{% if emby.footer.text == 'Anonymous Reply' %} anonymous{% endif %}">
            <img class="user-image" src="{{ emby.author.icon_url }}" alt="{{ emby.author.name }}">
            <div class="message-flex">
                <div class="top-row">
                    <div class="message-user">{{ emby.author.name }}</div>
                    <div class="timestamp">{{ message.created_at.strftime('%Y-%m-%d %H:%M:%S')}} UTC</div>
                </div>
                <div class="bottom-row">
                    <div class="message-content">{{ emby.description }}</div>
                    {% for attachment in message.attachments %}
                        {% if 'image' in attachment.content_type %}
                        <img src="{{ attachment.proxy_url }}" alt="{{ attachment.filename }}">
                        {% else %}
                        <a href="{{ attachment.proxy_url }}">{{ attachment.filename }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="message internal hidden">
            <img class="user-image" src="{{ message.author.avatar.url }}" alt="{{ message.author.name }}">
            <div class="message-flex">
                <div class="top-row">
                    <div class="message-user">{{ message.author.name }}</div>
                    <div class="timestamp">{{ message.created_at.strftime('%Y-%m-%d %H:%M:%S')}} UTC</div>
                </div>
                <div class="bottom-row">
                    <div class="message-content">{{ message.content }}</div>
                    {% for attachment in message.attachments %}
                        {% if 'image' in attachment.content_type %}
                        <img src="{{ attachment.proxy_url }}" alt="{{ attachment.filename }}">
                        {% else %}
                        <a href="{{ attachment.proxy_url }}">{{ attachment.filename }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    {% else %}
        <div class="message internal hidden">
            <img class="user-image" src="{{ message.author.avatar.url }}" alt="{{ message.author.name }}">
            <div class="message-flex">
                <div class="top-row">
                    <div class="message-user">{{ message.author.name }}</div>
                    <div class="timestamp">{{ message.created_at.strftime('%Y-%m-%d %H:%M:%S')}} UTC</div>
                </div>
                <div class="bottom-row">
                    <div class="message-content">{{ message.content }}</div>
                    {% for attachment in message.attachments %}
                        {% if 'image' in attachment.content_type %}
                        <img src="{{ attachment.proxy_url }}" alt="{{ attachment.filename }}">
                        {% else %}
                        <a href="{{ attachment.proxy_url }}">{{ attachment.filename }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if message.embeds %}
        {% for emby in message.embeds %}
        {% if emby.description %}
        <div class="message internal hidden embed attached-embed">
            <div class="user-image"></div>
            <div class="message-flex">
                <div class="top-row"></div>
                <div class="bottom-row">
                    {{ emby.description | safe }}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    {% endif %}
    {% endif %}
{% endfor %}
    </div>
</body>
</html>
